body {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, #d3d632 0%, #34d0dc 100%);
  margin: 0;
}

h1 {
  text-align: center;
}

.flex-container {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 90px;
}

.flex-item {
  text-align: center;
  list-style-type: none;
}

.flex-link {
  color: var(--white);
  text-decoration: none;
  margin: 0;
  padding: 29px 3.3px;
  border: 3px solid rgb(0, 0, 0);
}

.flex-link:hover {
  background-color: green;
  border-color: green;
  color: white;
}

.flex-link:active {
  background-color: orange;
  border-color: orange;
  color: white;
}

.flex-link:focus {
  border-color: orange;
  color: white;
}

@media (max-width: 414px) {
  .flex-container {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 90px;
  }
}
